
.valid {
  border-color: green !important;
}

.invalid {
  border-color: red !important;
}

.auth-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-group-floating {
  position: relative;
  border-radius: 5rem;
}

.form-control-floating {
  width: 100%;
  padding: 0.85rem 1rem 0.25rem;
  border-radius: 5rem;
  background-color: transparent;
  color: white;
  transition: all 0.2s ease;
  border: none;
}

.form-control-floating:focus {
  outline: none;
  box-shadow: none;
}

.form-control-floating:focus + label,
.form-control-floating.not-empty + label,
.form-control-floating:-webkit-autofill + label {
  top: 0.6rem;
  font-size: 0.6rem;
  color: darkgrey; 
}

.form-group-floating label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: grey;
  transition: all 0.2s ease;
  font-size: 0.7rem;
  pointer-events: none;
}

//box shadow made transparent as solution for autofill issue
input:-webkit-autofill {
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.bubble-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: grey;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.5rem solid grey;
  }
}