.App {
  text-align: center;
}

/* body */
body {
  padding: 0%;
  padding-bottom: 10%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  /* background-image: url("tech_particles_mesh-3.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover; */
}

/* main */
main {
  padding-top: 100px;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
}

.bg-feldgrau {
  background-color:#5b6c5d !important;
}

.bg-raisin-black {
  background-color: #3b2c35 !important;
}

.bg-dark-purple {
  background-color: #2a1f2d !important;
}

.bg-feldgrau.translucent {
  background-color: #5b6c5dbf !important;
}

.bg-dark-purple.translucent {
  background-color: #2a1f2dbf !important;
}

/* text */

.bolder {
  font-weight: 800;
}

.fs-h1 {
  font-size: 400%;
}

.fs-xs {
  font-size: 80%;
}

.text-emphasize {
  font-weight: 800;
  color: #88D9E6;
}

.text-shadow-m {
  text-shadow: 2px 2px 30px #2A1F2D;
}

/* colors */
.color-celeste {
  color: #C5FFFD !important;
}

.color-non-photo-blue {
  color: #88D9E6 !important;
}

.color-feldgrau {
  color: #5b6c5d !important;
}

.color-raisin-black {
  color: #3b2c35 !important;
}

.color-dark-purple {
  color: #2A1F2D !important;
}

/* header styles */
.header-container {
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.brand-container {
  display:flex;
  align-items: center;
  padding-left: 30px;
}

.header-logo {
  width: 55px;
  height: 55px;
  margin-left: 15px;
  margin-right: 15px;
  object-fit: cover;
}

.header-brand {
  color: #2A1F2D;
  font-weight: 800;
  font-size: 36px;
  transition-duration: 0.4s;
}

.header-brand:hover {
  color: #2A1F2D;
}

.header-nav-element {
  color: #2A1F2D;
  font-weight: 600;
  margin-left: 15px;
  margin-right: 15px;
  transition-duration: 0.4s;
}

.header-nav-element:hover {
  transform: translateY(-2px);
  color: #2A1F2D;
  /* color:#3b2c35; */
  /* text-shadow: 2px 2px 5px #2A1F2D; */
}

/* shapes */
.square{
  aspect-ratio: 1 / 1 !important;
}

/* spacing */
.end-5 {
  right: 5%;
}

.end-10 {
  right: 1%;
}

/* margins */
.no-margin {
  margin: 0%;
}

.no-padding {
  padding: 0%;
}

/* sizing */
.w-60 {
  width: 60%;
}
/*  button  */
.btn-custom-1 {
  background-color: #2A1F2D;
  color: #C5FFFD !important;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition-duration: 0.4s;
}

.btn-custom-1.btn-thick {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-custom-1:hover {
  background-color: #C5FFFD !important;
  color:#2A1F2D !important;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: translateY(-4px);
}

.btn-element {
  margin-left: 10px;
  margin-right: 3px;
}

/* home page */
.home {
  background-image: url("tech_particles_mesh.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
}

/*card */
.project-card {
  transition-duration: 0.4s;
}

.project-card:hover {
  transform: translateY(-4px);
}

.project-card.bg-dark-purple:hover {
  background-color: #332737 !important;
}

.custom-subcard {
  background-color: transparent;
  border-color: transparent;
}

.custom-card-element {
  margin-top: 1%;
  margin-bottom: 3%;
  color: white;
}

.custom-card-element.txt-sm {
  font-size: 78%;
}

.custom-card-element.bolder {
  color:#C5FFFD;
  font-size: 180%;
}

.home-page-img {
  object-fit: cover;
}

/* search bar */

/* border */
.border-celeste {
  border-color: #C5FFFD !important;
}