/* Coolors Exported Palette - https://coolors.co/c5fffd-88d9e6-5b6c5d-3b2c35-2a1f2d */

/* CSS HEX */
--celeste: #c5fffdff;
--non-photo-blue: #88d9e6ff;
--feldgrau: #5b6c5dff;
--raisin-black: #3b2c35ff;
--dark-purple: #2a1f2dff;

/* CSS HSL */
--celeste: hsla(178, 100%, 89%, 1);
--non-photo-blue: hsla(188, 65%, 72%, 1);
--feldgrau: hsla(127, 9%, 39%, 1);
--raisin-black: hsla(324, 15%, 20%, 1);
--dark-purple: hsla(287, 18%, 15%, 1);

/* SCSS HEX */
$celeste: #c5fffdff;
$non-photo-blue: #88d9e6ff;
$feldgrau: #5b6c5dff;
$raisin-black: #3b2c35ff;
$dark-purple: #2a1f2dff;

/* SCSS HSL */
$celeste: hsla(178, 100%, 89%, 1);
$non-photo-blue: hsla(188, 65%, 72%, 1);
$feldgrau: hsla(127, 9%, 39%, 1);
$raisin-black: hsla(324, 15%, 20%, 1);
$dark-purple: hsla(287, 18%, 15%, 1);

/* SCSS RGB */
$celeste: rgba(197, 255, 253, 1);
$non-photo-blue: rgba(136, 217, 230, 1);
$feldgrau: rgba(91, 108, 93, 1);
$raisin-black: rgba(59, 44, 53, 1);
$dark-purple: rgba(42, 31, 45, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);
$gradient-right: linear-gradient(90deg, #c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);
$gradient-bottom: linear-gradient(180deg, #c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);
$gradient-left: linear-gradient(270deg, #c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);
$gradient-top-right: linear-gradient(45deg, #c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);
$gradient-bottom-right: linear-gradient(135deg, #c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);
$gradient-top-left: linear-gradient(225deg, #c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);
$gradient-bottom-left: linear-gradient(315deg, #c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);
$gradient-radial: radial-gradient(#c5fffdff, #88d9e6ff, #5b6c5dff, #3b2c35ff, #2a1f2dff);