@use "~@/assets/sass/variables.scss" as v;
@use "~@/assets/sass/colors.scss" as *;

.navbar-variant-1 {
  @extend .bg-default-grey-blue;
  @extend .shadow-mulled-wine;
  animation-duration: 0.4s;
  animation-name: black-to-grey-blue;
}

.navbar-variant-2 {
  @extend .bg-default-black;
  animation-duration: 0.4s;
  animation-name: grey-blue-to-black;
}

@keyframes black-to-grey-blue {
  0% {
    background-color: black;
  }
  100% {
    background-color: v.$grey-blue;
  }
}

@keyframes grey-blue-to-black {
  0% {
    background-color: v.$grey-blue;
  }
  100% {
    background-color: black;
  }
}
