// color scheme
$white:rgb(255, 255, 255);
$light-grey:rgb(222, 222, 222);
$grey:rgb(222, 222, 222);
$green:rgb(0, 191, 99);
$grey-blue:rgb(68, 67, 109);
$dark-grey-blue:rgb(43, 45, 66);
$dark-purple:rgb(19, 7, 46);
$black:rgb(0, 0, 0);

$colors : (
    "white":rgb(255, 255, 255),
    "light-grey":rgb(222, 222, 222),
    "grey":rgb(222, 222, 222),
    "green":rgb(0, 191, 99),
    "grey-blue":rgb(68, 67, 109),
    "dark-grey-blue":rgb(43, 45, 66),
    "dark-purple":rgb(19, 7, 46),
    "black":rgb(0, 0, 0)
);

$color-scheme: (
    "light-1": $white,
    "light-2": $light-grey,
    "light-3": $grey,
    "neutral": $green,
    "dark-4": $grey-blue,
    "dark-3": $dark-grey-blue,
    "dark-2": $dark-purple,
    "dark-1": $black
);