@use 'variables.scss' as v;
@use 'sass:color';

@each $name, $value in v.$color-scheme {
    $is-light-bg: v.is-color-light($value);
    $is-neutral-bg: v.is-color-neutral($value);
    $is-dark-bg: v.is-color-dark($value);
    
    .btn-#{$name} {
        transition-duration: 0.2s;
        background-color: $value !important;

        @if ($is-light-bg) {
            color: v.$dark-purple
        }
        @else {
            color: v.$white;
        }

        &:hover {
            @if ($is-light-bg) {
                background-color: v.$black !important;
                color: v.$white;
            }
            @else {
                background-color: v.$white !important;
                color: v.$black;
            }
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
        
        &.translucent {
            background-color: color.change($color: $value, $alpha: 0.4) !important;
        }
    }
}