@use 'variables.scss' as v;
@use 'sass:color';

@each $name, $value in v.$color-scheme {
    .bg-#{$name} {
        background-color: $value !important;

        @each $opacity in v.$opacities {
            &.translucent-#{$opacity * 100} {
                background-color: color.change($color: $value, $alpha: $opacity) !important;
            }
        }
        
    }

    .color-#{$name} {
        color: $value !important;
    }

    .border-#{$name} {
        border-color: $value !important;
    }
}