@use 'variables.scss' as v;
@use 'sass:color';

@each $name, $value in v.$color-scheme {
    $is-light-bg: v.is-color-light($value);
    $is-neutral-bg: v.is-color-neutral($value);
    $is-dark-bg: v.is-color-dark($value);
    
    .btn-#{$name} {
        transition-duration: 0.2s;
        background-color: $value ;

        &:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
                        0 17px 50px 0 rgba(0,0,0,0.19);
        }

        @if ($is-light-bg) {
            color: v.$dark-purple ;

            &.hover-invert {
                &:hover {
                    background-color: v.$black ;
                    color: v.$white ;
                }
            }
        }
        @else {
            color: v.$white ;

            &.hover-invert {
                &:hover {
                    background-color: v.$white ;
                    color: v.$black ;
                }
            }
        }
        
        &.hover-lighten {
            &:hover {
                background-color: color.scale($color: $value, $lightness: 10%, $space:lab) ;
            }
        }

        &.hover-darken {
            &:hover {
                background-color: color.scale($color: $value, $lightness: -10%, $space:lab) ;
            }
        }

        @each $opacity in v.$opacities {
            &.translucent-#{$opacity * 100} {
                $translucent-bg: color.change($color: $value, $alpha: $opacity);

                background-color: $translucent-bg ;

                @if ($is-light-bg) {
                    &.hover-invert {
                        &:hover {
                            background-color: color.change($color: v.$black, $alpha: $opacity) ;
                            color: v.$white;
                        }
                    }
                }
                @else {
                    &.hover-invert {
                        &:hover {
                            background-color: color.change($color: v.$white, $alpha: $opacity) ;
                            color: v.$black;
                        }
                    }
                }

                &.hover-lighten {
                    &:hover {
                        background-color: color.scale($color: $translucent-bg, $lightness: 10%, $space:lab) ;
                    }
                }

                &.hover-darken {
                    &:hover {
                        background-color: color.scale($color: $translucent-bg, $lightness: -10%, $space:lab) ;
                    }
                }
            }
        }
    }
}

@each $name, $value in v.$color-scheme {
    $is-light-bg: v.is-color-light($value);
    $is-neutral-bg: v.is-color-neutral($value);
    $is-dark-bg: v.is-color-dark($value);

    .btn-#{$name} {
        &.initial-transparent {
            background-color: transparent;

            &:hover {
                background-color: $value;
            }

            &.disabled {
                background-color: $value;
            }

            @if ($is-light-bg) {
                color: v.$white;

                &.active {
                    background-color: v.$white !important;
                    color: v.$black;
                }
            }
            @else {
                color: v.$black;

                &.active {
                    background-color: v.$black !important;
                    color: v.$white;
                }
            }
        }

        @each $opacity in v.$opacities {
            &.translucent-#{$opacity * 100} {
                $translucent-bg: color.change($color: $value, $alpha: $opacity);

                background-color: $translucent-bg ;

                &.initial-transparent {
                    background-color: transparent;

                    &:hover {
                        background-color: $translucent-bg;
                    }

                    &.disabled {
                        background-color: $translucent-bg;
                    }
                }
            }
        }
    }
}

@each $name, $value in v.$utility-colors {
    .btn.btn-#{$name} {
        background-color: $value ;

        @each $opacity in v.$opacities {
            &.translucent-#{$opacity * 100} {
                background-color: color.change($color: $value, $alpha: $opacity) ; 
            }
         }
    }
}