@use "~@/assets/sass/variables.scss" as v;
@use "~@/assets/sass/colors.scss" as *;

input[type="email"] {
  background-color: transparent;
  border: none;
  outline: none;
}

.register-container {
  border-top-left-radius: 3.5rem;
  padding-top: 3.5rem;

  @media (min-width: 576px) {
    border-top-left-radius: 0;
    padding-top: 0px;
  }
}
