/* Error: Undefined variable.
 *    ,
 * 53 |     $is-light-bg: v.is-color-light($value);
 *    |                                    ^^^^^^
 *    '
 *   src\assets\sass\_mixins.scss 53:36   hover-invert()
 *   src\assets\sass\buttons.scss 241:13  btn-mixin()
 *   src\assets\sass\buttons.scss 255:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 53 \2502      $is-light-bg: v.is-color-light($value);\d\a    \2502                                     ^^^^^^\a    \2575 \a   src\\assets\\sass\\_mixins.scss 53:36   hover-invert()\a   src\\assets\\sass\\buttons.scss 241:13  btn-mixin()\a   src\\assets\\sass\\buttons.scss 255:1   root stylesheet";
}
