.project-card-light-1 {
  transition-duration: 0.4s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.project-card-light-1:hover {
  transform: translateY(-4px);
  background-color: rgb(76.5, 76.5, 76.5);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-light-1.translucent-10 {
  background-color: rgba(255, 255, 255, 0.1);
}
.project-card-light-1.translucent-10:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.project-card-light-1.translucent-20 {
  background-color: rgba(255, 255, 255, 0.2);
}
.project-card-light-1.translucent-20:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.project-card-light-1.translucent-30 {
  background-color: rgba(255, 255, 255, 0.3);
}
.project-card-light-1.translucent-30:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.project-card-light-1.translucent-40 {
  background-color: rgba(255, 255, 255, 0.4);
}
.project-card-light-1.translucent-40:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.project-card-light-1.translucent-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
.project-card-light-1.translucent-50:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
.project-card-light-1.translucent-60 {
  background-color: rgba(255, 255, 255, 0.6);
}
.project-card-light-1.translucent-60:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.project-card-light-1.translucent-70 {
  background-color: rgba(255, 255, 255, 0.7);
}
.project-card-light-1.translucent-70:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.project-card-light-1.translucent-80 {
  background-color: rgba(255, 255, 255, 0.8);
}
.project-card-light-1.translucent-80:hover {
  background-color: white;
}
.project-card-light-1.translucent-90 {
  background-color: rgba(255, 255, 255, 0.9);
}
.project-card-light-1.translucent-90:hover {
  background-color: white;
}
.project-card-light-1.translucent-100 {
  background-color: white;
}
.project-card-light-1.translucent-100:hover {
  background-color: white;
}

.project-card-light-2 {
  transition-duration: 0.4s;
  background-color: rgb(222, 222, 222);
  color: rgb(0, 0, 0);
}
.project-card-light-2:hover {
  transform: translateY(-4px);
  background-color: rgb(66.6, 66.6, 66.6);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-light-2.translucent-10 {
  background-color: rgba(222, 222, 222, 0.1);
}
.project-card-light-2.translucent-10:hover {
  background-color: rgba(222, 222, 222, 0.3);
}
.project-card-light-2.translucent-20 {
  background-color: rgba(222, 222, 222, 0.2);
}
.project-card-light-2.translucent-20:hover {
  background-color: rgba(222, 222, 222, 0.4);
}
.project-card-light-2.translucent-30 {
  background-color: rgba(222, 222, 222, 0.3);
}
.project-card-light-2.translucent-30:hover {
  background-color: rgba(222, 222, 222, 0.5);
}
.project-card-light-2.translucent-40 {
  background-color: rgba(222, 222, 222, 0.4);
}
.project-card-light-2.translucent-40:hover {
  background-color: rgba(222, 222, 222, 0.6);
}
.project-card-light-2.translucent-50 {
  background-color: rgba(222, 222, 222, 0.5);
}
.project-card-light-2.translucent-50:hover {
  background-color: rgba(222, 222, 222, 0.7);
}
.project-card-light-2.translucent-60 {
  background-color: rgba(222, 222, 222, 0.6);
}
.project-card-light-2.translucent-60:hover {
  background-color: rgba(222, 222, 222, 0.8);
}
.project-card-light-2.translucent-70 {
  background-color: rgba(222, 222, 222, 0.7);
}
.project-card-light-2.translucent-70:hover {
  background-color: rgba(222, 222, 222, 0.9);
}
.project-card-light-2.translucent-80 {
  background-color: rgba(222, 222, 222, 0.8);
}
.project-card-light-2.translucent-80:hover {
  background-color: #dedede;
}
.project-card-light-2.translucent-90 {
  background-color: rgba(222, 222, 222, 0.9);
}
.project-card-light-2.translucent-90:hover {
  background-color: #dedede;
}
.project-card-light-2.translucent-100 {
  background-color: #dedede;
}
.project-card-light-2.translucent-100:hover {
  background-color: #dedede;
}

.project-card-light-3 {
  transition-duration: 0.4s;
  background-color: rgb(140, 127, 132);
  color: rgb(0, 0, 0);
}
.project-card-light-3:hover {
  transform: translateY(-4px);
  background-color: rgb(42.1925925926, 37.9074074074, 39.5555555556);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-light-3.translucent-10 {
  background-color: rgba(140, 127, 132, 0.1);
}
.project-card-light-3.translucent-10:hover {
  background-color: rgba(140, 127, 132, 0.3);
}
.project-card-light-3.translucent-20 {
  background-color: rgba(140, 127, 132, 0.2);
}
.project-card-light-3.translucent-20:hover {
  background-color: rgba(140, 127, 132, 0.4);
}
.project-card-light-3.translucent-30 {
  background-color: rgba(140, 127, 132, 0.3);
}
.project-card-light-3.translucent-30:hover {
  background-color: rgba(140, 127, 132, 0.5);
}
.project-card-light-3.translucent-40 {
  background-color: rgba(140, 127, 132, 0.4);
}
.project-card-light-3.translucent-40:hover {
  background-color: rgba(140, 127, 132, 0.6);
}
.project-card-light-3.translucent-50 {
  background-color: rgba(140, 127, 132, 0.5);
}
.project-card-light-3.translucent-50:hover {
  background-color: rgba(140, 127, 132, 0.7);
}
.project-card-light-3.translucent-60 {
  background-color: rgba(140, 127, 132, 0.6);
}
.project-card-light-3.translucent-60:hover {
  background-color: rgba(140, 127, 132, 0.8);
}
.project-card-light-3.translucent-70 {
  background-color: rgba(140, 127, 132, 0.7);
}
.project-card-light-3.translucent-70:hover {
  background-color: rgba(140, 127, 132, 0.9);
}
.project-card-light-3.translucent-80 {
  background-color: rgba(140, 127, 132, 0.8);
}
.project-card-light-3.translucent-80:hover {
  background-color: #8c7f84;
}
.project-card-light-3.translucent-90 {
  background-color: rgba(140, 127, 132, 0.9);
}
.project-card-light-3.translucent-90:hover {
  background-color: #8c7f84;
}
.project-card-light-3.translucent-100 {
  background-color: #8c7f84;
}
.project-card-light-3.translucent-100:hover {
  background-color: #8c7f84;
}

.project-card-neutral-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 191, 99);
  color: rgb(255, 255, 255);
}
.project-card-neutral-1:hover {
  transform: translateY(-4px);
  background-color: rgb(0, 57.3, 29.7);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-neutral-1.translucent-10 {
  background-color: rgba(0, 191, 99, 0.1);
}
.project-card-neutral-1.translucent-10:hover {
  background-color: rgba(0, 191, 99, 0.3);
}
.project-card-neutral-1.translucent-20 {
  background-color: rgba(0, 191, 99, 0.2);
}
.project-card-neutral-1.translucent-20:hover {
  background-color: rgba(0, 191, 99, 0.4);
}
.project-card-neutral-1.translucent-30 {
  background-color: rgba(0, 191, 99, 0.3);
}
.project-card-neutral-1.translucent-30:hover {
  background-color: rgba(0, 191, 99, 0.5);
}
.project-card-neutral-1.translucent-40 {
  background-color: rgba(0, 191, 99, 0.4);
}
.project-card-neutral-1.translucent-40:hover {
  background-color: rgba(0, 191, 99, 0.6);
}
.project-card-neutral-1.translucent-50 {
  background-color: rgba(0, 191, 99, 0.5);
}
.project-card-neutral-1.translucent-50:hover {
  background-color: rgba(0, 191, 99, 0.7);
}
.project-card-neutral-1.translucent-60 {
  background-color: rgba(0, 191, 99, 0.6);
}
.project-card-neutral-1.translucent-60:hover {
  background-color: rgba(0, 191, 99, 0.8);
}
.project-card-neutral-1.translucent-70 {
  background-color: rgba(0, 191, 99, 0.7);
}
.project-card-neutral-1.translucent-70:hover {
  background-color: rgba(0, 191, 99, 0.9);
}
.project-card-neutral-1.translucent-80 {
  background-color: rgba(0, 191, 99, 0.8);
}
.project-card-neutral-1.translucent-80:hover {
  background-color: #00bf63;
}
.project-card-neutral-1.translucent-90 {
  background-color: rgba(0, 191, 99, 0.9);
}
.project-card-neutral-1.translucent-90:hover {
  background-color: #00bf63;
}
.project-card-neutral-1.translucent-100 {
  background-color: #00bf63;
}
.project-card-neutral-1.translucent-100:hover {
  background-color: #00bf63;
}

.project-card-neutral-2 {
  transition-duration: 0.4s;
  background-color: rgb(187, 154, 247);
  color: rgb(255, 255, 255);
}
.project-card-neutral-2:hover {
  transform: translateY(-4px);
  background-color: rgb(45.2504587156, 8.8293577982, 111.4706422018);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-neutral-2.translucent-10 {
  background-color: rgba(187, 154, 247, 0.1);
}
.project-card-neutral-2.translucent-10:hover {
  background-color: rgba(187, 154, 247, 0.3);
}
.project-card-neutral-2.translucent-20 {
  background-color: rgba(187, 154, 247, 0.2);
}
.project-card-neutral-2.translucent-20:hover {
  background-color: rgba(187, 154, 247, 0.4);
}
.project-card-neutral-2.translucent-30 {
  background-color: rgba(187, 154, 247, 0.3);
}
.project-card-neutral-2.translucent-30:hover {
  background-color: rgba(187, 154, 247, 0.5);
}
.project-card-neutral-2.translucent-40 {
  background-color: rgba(187, 154, 247, 0.4);
}
.project-card-neutral-2.translucent-40:hover {
  background-color: rgba(187, 154, 247, 0.6);
}
.project-card-neutral-2.translucent-50 {
  background-color: rgba(187, 154, 247, 0.5);
}
.project-card-neutral-2.translucent-50:hover {
  background-color: rgba(187, 154, 247, 0.7);
}
.project-card-neutral-2.translucent-60 {
  background-color: rgba(187, 154, 247, 0.6);
}
.project-card-neutral-2.translucent-60:hover {
  background-color: rgba(187, 154, 247, 0.8);
}
.project-card-neutral-2.translucent-70 {
  background-color: rgba(187, 154, 247, 0.7);
}
.project-card-neutral-2.translucent-70:hover {
  background-color: rgba(187, 154, 247, 0.9);
}
.project-card-neutral-2.translucent-80 {
  background-color: rgba(187, 154, 247, 0.8);
}
.project-card-neutral-2.translucent-80:hover {
  background-color: #bb9af7;
}
.project-card-neutral-2.translucent-90 {
  background-color: rgba(187, 154, 247, 0.9);
}
.project-card-neutral-2.translucent-90:hover {
  background-color: #bb9af7;
}
.project-card-neutral-2.translucent-100 {
  background-color: #bb9af7;
}
.project-card-neutral-2.translucent-100:hover {
  background-color: #bb9af7;
}

.project-card-neutral-3 {
  transition-duration: 0.4s;
  background-color: rgb(68, 67, 109);
  color: rgb(255, 255, 255);
}
.project-card-neutral-3:hover {
  transform: translateY(-4px);
  background-color: rgb(20.4, 20.1, 32.7);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-neutral-3.translucent-10 {
  background-color: rgba(68, 67, 109, 0.1);
}
.project-card-neutral-3.translucent-10:hover {
  background-color: rgba(68, 67, 109, 0.3);
}
.project-card-neutral-3.translucent-20 {
  background-color: rgba(68, 67, 109, 0.2);
}
.project-card-neutral-3.translucent-20:hover {
  background-color: rgba(68, 67, 109, 0.4);
}
.project-card-neutral-3.translucent-30 {
  background-color: rgba(68, 67, 109, 0.3);
}
.project-card-neutral-3.translucent-30:hover {
  background-color: rgba(68, 67, 109, 0.5);
}
.project-card-neutral-3.translucent-40 {
  background-color: rgba(68, 67, 109, 0.4);
}
.project-card-neutral-3.translucent-40:hover {
  background-color: rgba(68, 67, 109, 0.6);
}
.project-card-neutral-3.translucent-50 {
  background-color: rgba(68, 67, 109, 0.5);
}
.project-card-neutral-3.translucent-50:hover {
  background-color: rgba(68, 67, 109, 0.7);
}
.project-card-neutral-3.translucent-60 {
  background-color: rgba(68, 67, 109, 0.6);
}
.project-card-neutral-3.translucent-60:hover {
  background-color: rgba(68, 67, 109, 0.8);
}
.project-card-neutral-3.translucent-70 {
  background-color: rgba(68, 67, 109, 0.7);
}
.project-card-neutral-3.translucent-70:hover {
  background-color: rgba(68, 67, 109, 0.9);
}
.project-card-neutral-3.translucent-80 {
  background-color: rgba(68, 67, 109, 0.8);
}
.project-card-neutral-3.translucent-80:hover {
  background-color: #44436d;
}
.project-card-neutral-3.translucent-90 {
  background-color: rgba(68, 67, 109, 0.9);
}
.project-card-neutral-3.translucent-90:hover {
  background-color: #44436d;
}
.project-card-neutral-3.translucent-100 {
  background-color: #44436d;
}
.project-card-neutral-3.translucent-100:hover {
  background-color: #44436d;
}

.project-card-dark-1 {
  transition-duration: 0.4s;
  background-color: rgb(43, 45, 66);
  color: rgb(255, 255, 255);
}
.project-card-dark-1:hover {
  transform: translateY(-4px);
  background-color: rgb(12.9, 13.5, 19.8);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-dark-1.translucent-10 {
  background-color: rgba(43, 45, 66, 0.1);
}
.project-card-dark-1.translucent-10:hover {
  background-color: rgba(43, 45, 66, 0.3);
}
.project-card-dark-1.translucent-20 {
  background-color: rgba(43, 45, 66, 0.2);
}
.project-card-dark-1.translucent-20:hover {
  background-color: rgba(43, 45, 66, 0.4);
}
.project-card-dark-1.translucent-30 {
  background-color: rgba(43, 45, 66, 0.3);
}
.project-card-dark-1.translucent-30:hover {
  background-color: rgba(43, 45, 66, 0.5);
}
.project-card-dark-1.translucent-40 {
  background-color: rgba(43, 45, 66, 0.4);
}
.project-card-dark-1.translucent-40:hover {
  background-color: rgba(43, 45, 66, 0.6);
}
.project-card-dark-1.translucent-50 {
  background-color: rgba(43, 45, 66, 0.5);
}
.project-card-dark-1.translucent-50:hover {
  background-color: rgba(43, 45, 66, 0.7);
}
.project-card-dark-1.translucent-60 {
  background-color: rgba(43, 45, 66, 0.6);
}
.project-card-dark-1.translucent-60:hover {
  background-color: rgba(43, 45, 66, 0.8);
}
.project-card-dark-1.translucent-70 {
  background-color: rgba(43, 45, 66, 0.7);
}
.project-card-dark-1.translucent-70:hover {
  background-color: rgba(43, 45, 66, 0.9);
}
.project-card-dark-1.translucent-80 {
  background-color: rgba(43, 45, 66, 0.8);
}
.project-card-dark-1.translucent-80:hover {
  background-color: #2b2d42;
}
.project-card-dark-1.translucent-90 {
  background-color: rgba(43, 45, 66, 0.9);
}
.project-card-dark-1.translucent-90:hover {
  background-color: #2b2d42;
}
.project-card-dark-1.translucent-100 {
  background-color: #2b2d42;
}
.project-card-dark-1.translucent-100:hover {
  background-color: #2b2d42;
}

.project-card-dark-2 {
  transition-duration: 0.4s;
  background-color: rgb(19, 7, 46);
  color: rgb(255, 255, 255);
}
.project-card-dark-2:hover {
  transform: translateY(-4px);
  background-color: rgb(5.7, 2.1, 13.8);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-dark-2.translucent-10 {
  background-color: rgba(19, 7, 46, 0.1);
}
.project-card-dark-2.translucent-10:hover {
  background-color: rgba(19, 7, 46, 0.3);
}
.project-card-dark-2.translucent-20 {
  background-color: rgba(19, 7, 46, 0.2);
}
.project-card-dark-2.translucent-20:hover {
  background-color: rgba(19, 7, 46, 0.4);
}
.project-card-dark-2.translucent-30 {
  background-color: rgba(19, 7, 46, 0.3);
}
.project-card-dark-2.translucent-30:hover {
  background-color: rgba(19, 7, 46, 0.5);
}
.project-card-dark-2.translucent-40 {
  background-color: rgba(19, 7, 46, 0.4);
}
.project-card-dark-2.translucent-40:hover {
  background-color: rgba(19, 7, 46, 0.6);
}
.project-card-dark-2.translucent-50 {
  background-color: rgba(19, 7, 46, 0.5);
}
.project-card-dark-2.translucent-50:hover {
  background-color: rgba(19, 7, 46, 0.7);
}
.project-card-dark-2.translucent-60 {
  background-color: rgba(19, 7, 46, 0.6);
}
.project-card-dark-2.translucent-60:hover {
  background-color: rgba(19, 7, 46, 0.8);
}
.project-card-dark-2.translucent-70 {
  background-color: rgba(19, 7, 46, 0.7);
}
.project-card-dark-2.translucent-70:hover {
  background-color: rgba(19, 7, 46, 0.9);
}
.project-card-dark-2.translucent-80 {
  background-color: rgba(19, 7, 46, 0.8);
}
.project-card-dark-2.translucent-80:hover {
  background-color: #13072e;
}
.project-card-dark-2.translucent-90 {
  background-color: rgba(19, 7, 46, 0.9);
}
.project-card-dark-2.translucent-90:hover {
  background-color: #13072e;
}
.project-card-dark-2.translucent-100 {
  background-color: #13072e;
}
.project-card-dark-2.translucent-100:hover {
  background-color: #13072e;
}

.project-card-dark-3 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.project-card-dark-3:hover {
  transform: translateY(-4px);
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-dark-3.translucent-10 {
  background-color: rgba(0, 0, 0, 0.1);
}
.project-card-dark-3.translucent-10:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.project-card-dark-3.translucent-20 {
  background-color: rgba(0, 0, 0, 0.2);
}
.project-card-dark-3.translucent-20:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.project-card-dark-3.translucent-30 {
  background-color: rgba(0, 0, 0, 0.3);
}
.project-card-dark-3.translucent-30:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.project-card-dark-3.translucent-40 {
  background-color: rgba(0, 0, 0, 0.4);
}
.project-card-dark-3.translucent-40:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.project-card-dark-3.translucent-50 {
  background-color: rgba(0, 0, 0, 0.5);
}
.project-card-dark-3.translucent-50:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.project-card-dark-3.translucent-60 {
  background-color: rgba(0, 0, 0, 0.6);
}
.project-card-dark-3.translucent-60:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.project-card-dark-3.translucent-70 {
  background-color: rgba(0, 0, 0, 0.7);
}
.project-card-dark-3.translucent-70:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
.project-card-dark-3.translucent-80 {
  background-color: rgba(0, 0, 0, 0.8);
}
.project-card-dark-3.translucent-80:hover {
  background-color: black;
}
.project-card-dark-3.translucent-90 {
  background-color: rgba(0, 0, 0, 0.9);
}
.project-card-dark-3.translucent-90:hover {
  background-color: black;
}
.project-card-dark-3.translucent-100 {
  background-color: black;
}
.project-card-dark-3.translucent-100:hover {
  background-color: black;
}

.project-card-dark-4 {
  transition-duration: 0.4s;
  background-color: rgb(68, 67, 109);
  color: rgb(255, 255, 255);
}
.project-card-dark-4:hover {
  transform: translateY(-4px);
  background-color: rgb(20.4, 20.1, 32.7);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.project-card-dark-4.translucent-10 {
  background-color: rgba(68, 67, 109, 0.1);
}
.project-card-dark-4.translucent-10:hover {
  background-color: rgba(68, 67, 109, 0.3);
}
.project-card-dark-4.translucent-20 {
  background-color: rgba(68, 67, 109, 0.2);
}
.project-card-dark-4.translucent-20:hover {
  background-color: rgba(68, 67, 109, 0.4);
}
.project-card-dark-4.translucent-30 {
  background-color: rgba(68, 67, 109, 0.3);
}
.project-card-dark-4.translucent-30:hover {
  background-color: rgba(68, 67, 109, 0.5);
}
.project-card-dark-4.translucent-40 {
  background-color: rgba(68, 67, 109, 0.4);
}
.project-card-dark-4.translucent-40:hover {
  background-color: rgba(68, 67, 109, 0.6);
}
.project-card-dark-4.translucent-50 {
  background-color: rgba(68, 67, 109, 0.5);
}
.project-card-dark-4.translucent-50:hover {
  background-color: rgba(68, 67, 109, 0.7);
}
.project-card-dark-4.translucent-60 {
  background-color: rgba(68, 67, 109, 0.6);
}
.project-card-dark-4.translucent-60:hover {
  background-color: rgba(68, 67, 109, 0.8);
}
.project-card-dark-4.translucent-70 {
  background-color: rgba(68, 67, 109, 0.7);
}
.project-card-dark-4.translucent-70:hover {
  background-color: rgba(68, 67, 109, 0.9);
}
.project-card-dark-4.translucent-80 {
  background-color: rgba(68, 67, 109, 0.8);
}
.project-card-dark-4.translucent-80:hover {
  background-color: #44436d;
}
.project-card-dark-4.translucent-90 {
  background-color: rgba(68, 67, 109, 0.9);
}
.project-card-dark-4.translucent-90:hover {
  background-color: #44436d;
}
.project-card-dark-4.translucent-100 {
  background-color: #44436d;
}
.project-card-dark-4.translucent-100:hover {
  background-color: #44436d;
}

/*# sourceMappingURL=cards.css.map */
