.bg-light-1 {
  background-color: rgb(255, 255, 255) !important;
}
.bg-light-1.translucent-10 {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.bg-light-1.translucent-20 {
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.bg-light-1.translucent-30 {
  background-color: rgba(255, 255, 255, 0.3) !important;
}
.bg-light-1.translucent-40 {
  background-color: rgba(255, 255, 255, 0.4) !important;
}
.bg-light-1.translucent-50 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.bg-light-1.translucent-60 {
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.bg-light-1.translucent-70 {
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.bg-light-1.translucent-80 {
  background-color: rgba(255, 255, 255, 0.8) !important;
}
.bg-light-1.translucent-90 {
  background-color: rgba(255, 255, 255, 0.9) !important;
}
.bg-light-1.translucent-100 {
  background-color: white !important;
}

.color-light-1 {
  color: rgb(255, 255, 255) !important;
}

.border-light-1 {
  border-color: rgb(255, 255, 255) !important;
}

.bg-light-2 {
  background-color: rgb(222, 222, 222) !important;
}
.bg-light-2.translucent-10 {
  background-color: rgba(222, 222, 222, 0.1) !important;
}
.bg-light-2.translucent-20 {
  background-color: rgba(222, 222, 222, 0.2) !important;
}
.bg-light-2.translucent-30 {
  background-color: rgba(222, 222, 222, 0.3) !important;
}
.bg-light-2.translucent-40 {
  background-color: rgba(222, 222, 222, 0.4) !important;
}
.bg-light-2.translucent-50 {
  background-color: rgba(222, 222, 222, 0.5) !important;
}
.bg-light-2.translucent-60 {
  background-color: rgba(222, 222, 222, 0.6) !important;
}
.bg-light-2.translucent-70 {
  background-color: rgba(222, 222, 222, 0.7) !important;
}
.bg-light-2.translucent-80 {
  background-color: rgba(222, 222, 222, 0.8) !important;
}
.bg-light-2.translucent-90 {
  background-color: rgba(222, 222, 222, 0.9) !important;
}
.bg-light-2.translucent-100 {
  background-color: #dedede !important;
}

.color-light-2 {
  color: rgb(222, 222, 222) !important;
}

.border-light-2 {
  border-color: rgb(222, 222, 222) !important;
}

.bg-light-3 {
  background-color: rgb(140, 127, 132) !important;
}
.bg-light-3.translucent-10 {
  background-color: rgba(140, 127, 132, 0.1) !important;
}
.bg-light-3.translucent-20 {
  background-color: rgba(140, 127, 132, 0.2) !important;
}
.bg-light-3.translucent-30 {
  background-color: rgba(140, 127, 132, 0.3) !important;
}
.bg-light-3.translucent-40 {
  background-color: rgba(140, 127, 132, 0.4) !important;
}
.bg-light-3.translucent-50 {
  background-color: rgba(140, 127, 132, 0.5) !important;
}
.bg-light-3.translucent-60 {
  background-color: rgba(140, 127, 132, 0.6) !important;
}
.bg-light-3.translucent-70 {
  background-color: rgba(140, 127, 132, 0.7) !important;
}
.bg-light-3.translucent-80 {
  background-color: rgba(140, 127, 132, 0.8) !important;
}
.bg-light-3.translucent-90 {
  background-color: rgba(140, 127, 132, 0.9) !important;
}
.bg-light-3.translucent-100 {
  background-color: #8c7f84 !important;
}

.color-light-3 {
  color: rgb(140, 127, 132) !important;
}

.border-light-3 {
  border-color: rgb(140, 127, 132) !important;
}

.bg-neutral-1 {
  background-color: rgb(0, 191, 99) !important;
}
.bg-neutral-1.translucent-10 {
  background-color: rgba(0, 191, 99, 0.1) !important;
}
.bg-neutral-1.translucent-20 {
  background-color: rgba(0, 191, 99, 0.2) !important;
}
.bg-neutral-1.translucent-30 {
  background-color: rgba(0, 191, 99, 0.3) !important;
}
.bg-neutral-1.translucent-40 {
  background-color: rgba(0, 191, 99, 0.4) !important;
}
.bg-neutral-1.translucent-50 {
  background-color: rgba(0, 191, 99, 0.5) !important;
}
.bg-neutral-1.translucent-60 {
  background-color: rgba(0, 191, 99, 0.6) !important;
}
.bg-neutral-1.translucent-70 {
  background-color: rgba(0, 191, 99, 0.7) !important;
}
.bg-neutral-1.translucent-80 {
  background-color: rgba(0, 191, 99, 0.8) !important;
}
.bg-neutral-1.translucent-90 {
  background-color: rgba(0, 191, 99, 0.9) !important;
}
.bg-neutral-1.translucent-100 {
  background-color: #00bf63 !important;
}

.color-neutral-1 {
  color: rgb(0, 191, 99) !important;
}

.border-neutral-1 {
  border-color: rgb(0, 191, 99) !important;
}

.bg-neutral-2 {
  background-color: rgb(68, 67, 109) !important;
}
.bg-neutral-2.translucent-10 {
  background-color: rgba(68, 67, 109, 0.1) !important;
}
.bg-neutral-2.translucent-20 {
  background-color: rgba(68, 67, 109, 0.2) !important;
}
.bg-neutral-2.translucent-30 {
  background-color: rgba(68, 67, 109, 0.3) !important;
}
.bg-neutral-2.translucent-40 {
  background-color: rgba(68, 67, 109, 0.4) !important;
}
.bg-neutral-2.translucent-50 {
  background-color: rgba(68, 67, 109, 0.5) !important;
}
.bg-neutral-2.translucent-60 {
  background-color: rgba(68, 67, 109, 0.6) !important;
}
.bg-neutral-2.translucent-70 {
  background-color: rgba(68, 67, 109, 0.7) !important;
}
.bg-neutral-2.translucent-80 {
  background-color: rgba(68, 67, 109, 0.8) !important;
}
.bg-neutral-2.translucent-90 {
  background-color: rgba(68, 67, 109, 0.9) !important;
}
.bg-neutral-2.translucent-100 {
  background-color: #44436d !important;
}

.color-neutral-2 {
  color: rgb(68, 67, 109) !important;
}

.border-neutral-2 {
  border-color: rgb(68, 67, 109) !important;
}

.bg-dark-1 {
  background-color: rgb(43, 45, 66) !important;
}
.bg-dark-1.translucent-10 {
  background-color: rgba(43, 45, 66, 0.1) !important;
}
.bg-dark-1.translucent-20 {
  background-color: rgba(43, 45, 66, 0.2) !important;
}
.bg-dark-1.translucent-30 {
  background-color: rgba(43, 45, 66, 0.3) !important;
}
.bg-dark-1.translucent-40 {
  background-color: rgba(43, 45, 66, 0.4) !important;
}
.bg-dark-1.translucent-50 {
  background-color: rgba(43, 45, 66, 0.5) !important;
}
.bg-dark-1.translucent-60 {
  background-color: rgba(43, 45, 66, 0.6) !important;
}
.bg-dark-1.translucent-70 {
  background-color: rgba(43, 45, 66, 0.7) !important;
}
.bg-dark-1.translucent-80 {
  background-color: rgba(43, 45, 66, 0.8) !important;
}
.bg-dark-1.translucent-90 {
  background-color: rgba(43, 45, 66, 0.9) !important;
}
.bg-dark-1.translucent-100 {
  background-color: #2b2d42 !important;
}

.color-dark-1 {
  color: rgb(43, 45, 66) !important;
}

.border-dark-1 {
  border-color: rgb(43, 45, 66) !important;
}

.bg-dark-2 {
  background-color: rgb(19, 7, 46) !important;
}
.bg-dark-2.translucent-10 {
  background-color: rgba(19, 7, 46, 0.1) !important;
}
.bg-dark-2.translucent-20 {
  background-color: rgba(19, 7, 46, 0.2) !important;
}
.bg-dark-2.translucent-30 {
  background-color: rgba(19, 7, 46, 0.3) !important;
}
.bg-dark-2.translucent-40 {
  background-color: rgba(19, 7, 46, 0.4) !important;
}
.bg-dark-2.translucent-50 {
  background-color: rgba(19, 7, 46, 0.5) !important;
}
.bg-dark-2.translucent-60 {
  background-color: rgba(19, 7, 46, 0.6) !important;
}
.bg-dark-2.translucent-70 {
  background-color: rgba(19, 7, 46, 0.7) !important;
}
.bg-dark-2.translucent-80 {
  background-color: rgba(19, 7, 46, 0.8) !important;
}
.bg-dark-2.translucent-90 {
  background-color: rgba(19, 7, 46, 0.9) !important;
}
.bg-dark-2.translucent-100 {
  background-color: #13072e !important;
}

.color-dark-2 {
  color: rgb(19, 7, 46) !important;
}

.border-dark-2 {
  border-color: rgb(19, 7, 46) !important;
}

.bg-dark-3 {
  background-color: rgb(0, 0, 0) !important;
}
.bg-dark-3.translucent-10 {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.bg-dark-3.translucent-20 {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.bg-dark-3.translucent-30 {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.bg-dark-3.translucent-40 {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.bg-dark-3.translucent-50 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.bg-dark-3.translucent-60 {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
.bg-dark-3.translucent-70 {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.bg-dark-3.translucent-80 {
  background-color: rgba(0, 0, 0, 0.8) !important;
}
.bg-dark-3.translucent-90 {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.bg-dark-3.translucent-100 {
  background-color: black !important;
}

.color-dark-3 {
  color: rgb(0, 0, 0) !important;
}

.border-dark-3 {
  border-color: rgb(0, 0, 0) !important;
}

.bg-dark-4 {
  background-color: rgb(68, 67, 109) !important;
}
.bg-dark-4.translucent-10 {
  background-color: rgba(68, 67, 109, 0.1) !important;
}
.bg-dark-4.translucent-20 {
  background-color: rgba(68, 67, 109, 0.2) !important;
}
.bg-dark-4.translucent-30 {
  background-color: rgba(68, 67, 109, 0.3) !important;
}
.bg-dark-4.translucent-40 {
  background-color: rgba(68, 67, 109, 0.4) !important;
}
.bg-dark-4.translucent-50 {
  background-color: rgba(68, 67, 109, 0.5) !important;
}
.bg-dark-4.translucent-60 {
  background-color: rgba(68, 67, 109, 0.6) !important;
}
.bg-dark-4.translucent-70 {
  background-color: rgba(68, 67, 109, 0.7) !important;
}
.bg-dark-4.translucent-80 {
  background-color: rgba(68, 67, 109, 0.8) !important;
}
.bg-dark-4.translucent-90 {
  background-color: rgba(68, 67, 109, 0.9) !important;
}
.bg-dark-4.translucent-100 {
  background-color: #44436d !important;
}

.color-dark-4 {
  color: rgb(68, 67, 109) !important;
}

.border-dark-4 {
  border-color: rgb(68, 67, 109) !important;
}

.bg-util-error {
  background-color: rgb(255, 255, 255) !important;
}
.bg-util-error.translucent-10 {
  background-color: rgba(255, 255, 255, 0.1);
}
.bg-util-error.translucent-20 {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-util-error.translucent-30 {
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-util-error.translucent-40 {
  background-color: rgba(255, 255, 255, 0.4);
}
.bg-util-error.translucent-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-util-error.translucent-60 {
  background-color: rgba(255, 255, 255, 0.6);
}
.bg-util-error.translucent-70 {
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-util-error.translucent-80 {
  background-color: rgba(255, 255, 255, 0.8);
}
.bg-util-error.translucent-90 {
  background-color: rgba(255, 255, 255, 0.9);
}
.bg-util-error.translucent-100 {
  background-color: white;
}

.color-util-error {
  color: rgb(255, 255, 255) !important;
}

.border-util-error {
  border-color: rgb(255, 255, 255) !important;
}

.bg-util-alert {
  background-color: rgb(255, 165, 0) !important;
}
.bg-util-alert.translucent-10 {
  background-color: rgba(255, 165, 0, 0.1);
}
.bg-util-alert.translucent-20 {
  background-color: rgba(255, 165, 0, 0.2);
}
.bg-util-alert.translucent-30 {
  background-color: rgba(255, 165, 0, 0.3);
}
.bg-util-alert.translucent-40 {
  background-color: rgba(255, 165, 0, 0.4);
}
.bg-util-alert.translucent-50 {
  background-color: rgba(255, 165, 0, 0.5);
}
.bg-util-alert.translucent-60 {
  background-color: rgba(255, 165, 0, 0.6);
}
.bg-util-alert.translucent-70 {
  background-color: rgba(255, 165, 0, 0.7);
}
.bg-util-alert.translucent-80 {
  background-color: rgba(255, 165, 0, 0.8);
}
.bg-util-alert.translucent-90 {
  background-color: rgba(255, 165, 0, 0.9);
}
.bg-util-alert.translucent-100 {
  background-color: orange;
}

.color-util-alert {
  color: rgb(255, 165, 0) !important;
}

.border-util-alert {
  border-color: rgb(255, 165, 0) !important;
}

.bg-util-notify {
  background-color: rgb(255, 255, 255) !important;
}
.bg-util-notify.translucent-10 {
  background-color: rgba(255, 255, 255, 0.1);
}
.bg-util-notify.translucent-20 {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-util-notify.translucent-30 {
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-util-notify.translucent-40 {
  background-color: rgba(255, 255, 255, 0.4);
}
.bg-util-notify.translucent-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-util-notify.translucent-60 {
  background-color: rgba(255, 255, 255, 0.6);
}
.bg-util-notify.translucent-70 {
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-util-notify.translucent-80 {
  background-color: rgba(255, 255, 255, 0.8);
}
.bg-util-notify.translucent-90 {
  background-color: rgba(255, 255, 255, 0.9);
}
.bg-util-notify.translucent-100 {
  background-color: white;
}

.color-util-notify {
  color: rgb(255, 255, 255) !important;
}

.border-util-notify {
  border-color: rgb(255, 255, 255) !important;
}

.bg-util-success {
  background-color: rgb(0, 191, 99) !important;
}
.bg-util-success.translucent-10 {
  background-color: rgba(0, 191, 99, 0.1);
}
.bg-util-success.translucent-20 {
  background-color: rgba(0, 191, 99, 0.2);
}
.bg-util-success.translucent-30 {
  background-color: rgba(0, 191, 99, 0.3);
}
.bg-util-success.translucent-40 {
  background-color: rgba(0, 191, 99, 0.4);
}
.bg-util-success.translucent-50 {
  background-color: rgba(0, 191, 99, 0.5);
}
.bg-util-success.translucent-60 {
  background-color: rgba(0, 191, 99, 0.6);
}
.bg-util-success.translucent-70 {
  background-color: rgba(0, 191, 99, 0.7);
}
.bg-util-success.translucent-80 {
  background-color: rgba(0, 191, 99, 0.8);
}
.bg-util-success.translucent-90 {
  background-color: rgba(0, 191, 99, 0.9);
}
.bg-util-success.translucent-100 {
  background-color: #00bf63;
}

.color-util-success {
  color: rgb(0, 191, 99) !important;
}

.border-util-success {
  border-color: rgb(0, 191, 99) !important;
}

/*# sourceMappingURL=colors.css.map */
