.bg-light-1 {
  background-color: rgb(255, 255, 255);
}
.bg-light-1.translucent-10 {
  background-color: rgba(255, 255, 255, 0.1);
}
.bg-light-1.translucent-20 {
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-light-1.translucent-30 {
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-light-1.translucent-40 {
  background-color: rgba(255, 255, 255, 0.4);
}
.bg-light-1.translucent-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-light-1.translucent-60 {
  background-color: rgba(255, 255, 255, 0.6);
}
.bg-light-1.translucent-70 {
  background-color: rgba(255, 255, 255, 0.7);
}
.bg-light-1.translucent-80 {
  background-color: rgba(255, 255, 255, 0.8);
}
.bg-light-1.translucent-90 {
  background-color: rgba(255, 255, 255, 0.9);
}
.bg-light-1.translucent-100 {
  background-color: white;
}

.color-light-1 {
  color: rgb(255, 255, 255);
}

.border-light-1 {
  border-color: rgb(255, 255, 255);
}

.hover-color-light-1 {
  transition-duration: 0.4s;
}
.hover-color-light-1:hover {
  color: rgb(255, 255, 255);
}

.bg-light-2 {
  background-color: rgb(222, 222, 222);
}
.bg-light-2.translucent-10 {
  background-color: rgba(222, 222, 222, 0.1);
}
.bg-light-2.translucent-20 {
  background-color: rgba(222, 222, 222, 0.2);
}
.bg-light-2.translucent-30 {
  background-color: rgba(222, 222, 222, 0.3);
}
.bg-light-2.translucent-40 {
  background-color: rgba(222, 222, 222, 0.4);
}
.bg-light-2.translucent-50 {
  background-color: rgba(222, 222, 222, 0.5);
}
.bg-light-2.translucent-60 {
  background-color: rgba(222, 222, 222, 0.6);
}
.bg-light-2.translucent-70 {
  background-color: rgba(222, 222, 222, 0.7);
}
.bg-light-2.translucent-80 {
  background-color: rgba(222, 222, 222, 0.8);
}
.bg-light-2.translucent-90 {
  background-color: rgba(222, 222, 222, 0.9);
}
.bg-light-2.translucent-100 {
  background-color: #dedede;
}

.color-light-2 {
  color: rgb(222, 222, 222);
}

.border-light-2 {
  border-color: rgb(222, 222, 222);
}

.hover-color-light-2 {
  transition-duration: 0.4s;
}
.hover-color-light-2:hover {
  color: rgb(222, 222, 222);
}

.bg-light-3 {
  background-color: rgb(140, 127, 132);
}
.bg-light-3.translucent-10 {
  background-color: rgba(140, 127, 132, 0.1);
}
.bg-light-3.translucent-20 {
  background-color: rgba(140, 127, 132, 0.2);
}
.bg-light-3.translucent-30 {
  background-color: rgba(140, 127, 132, 0.3);
}
.bg-light-3.translucent-40 {
  background-color: rgba(140, 127, 132, 0.4);
}
.bg-light-3.translucent-50 {
  background-color: rgba(140, 127, 132, 0.5);
}
.bg-light-3.translucent-60 {
  background-color: rgba(140, 127, 132, 0.6);
}
.bg-light-3.translucent-70 {
  background-color: rgba(140, 127, 132, 0.7);
}
.bg-light-3.translucent-80 {
  background-color: rgba(140, 127, 132, 0.8);
}
.bg-light-3.translucent-90 {
  background-color: rgba(140, 127, 132, 0.9);
}
.bg-light-3.translucent-100 {
  background-color: #8c7f84;
}

.color-light-3 {
  color: rgb(140, 127, 132);
}

.border-light-3 {
  border-color: rgb(140, 127, 132);
}

.hover-color-light-3 {
  transition-duration: 0.4s;
}
.hover-color-light-3:hover {
  color: rgb(140, 127, 132);
}

.bg-neutral-1 {
  background-color: rgb(0, 191, 99);
}
.bg-neutral-1.translucent-10 {
  background-color: rgba(0, 191, 99, 0.1);
}
.bg-neutral-1.translucent-20 {
  background-color: rgba(0, 191, 99, 0.2);
}
.bg-neutral-1.translucent-30 {
  background-color: rgba(0, 191, 99, 0.3);
}
.bg-neutral-1.translucent-40 {
  background-color: rgba(0, 191, 99, 0.4);
}
.bg-neutral-1.translucent-50 {
  background-color: rgba(0, 191, 99, 0.5);
}
.bg-neutral-1.translucent-60 {
  background-color: rgba(0, 191, 99, 0.6);
}
.bg-neutral-1.translucent-70 {
  background-color: rgba(0, 191, 99, 0.7);
}
.bg-neutral-1.translucent-80 {
  background-color: rgba(0, 191, 99, 0.8);
}
.bg-neutral-1.translucent-90 {
  background-color: rgba(0, 191, 99, 0.9);
}
.bg-neutral-1.translucent-100 {
  background-color: #00bf63;
}

.color-neutral-1 {
  color: rgb(0, 191, 99);
}

.border-neutral-1 {
  border-color: rgb(0, 191, 99);
}

.hover-color-neutral-1 {
  transition-duration: 0.4s;
}
.hover-color-neutral-1:hover {
  color: rgb(0, 191, 99);
}

.bg-neutral-2 {
  background-color: rgb(187, 154, 247);
}
.bg-neutral-2.translucent-10 {
  background-color: rgba(187, 154, 247, 0.1);
}
.bg-neutral-2.translucent-20 {
  background-color: rgba(187, 154, 247, 0.2);
}
.bg-neutral-2.translucent-30 {
  background-color: rgba(187, 154, 247, 0.3);
}
.bg-neutral-2.translucent-40 {
  background-color: rgba(187, 154, 247, 0.4);
}
.bg-neutral-2.translucent-50 {
  background-color: rgba(187, 154, 247, 0.5);
}
.bg-neutral-2.translucent-60 {
  background-color: rgba(187, 154, 247, 0.6);
}
.bg-neutral-2.translucent-70 {
  background-color: rgba(187, 154, 247, 0.7);
}
.bg-neutral-2.translucent-80 {
  background-color: rgba(187, 154, 247, 0.8);
}
.bg-neutral-2.translucent-90 {
  background-color: rgba(187, 154, 247, 0.9);
}
.bg-neutral-2.translucent-100 {
  background-color: #bb9af7;
}

.color-neutral-2 {
  color: rgb(187, 154, 247);
}

.border-neutral-2 {
  border-color: rgb(187, 154, 247);
}

.hover-color-neutral-2 {
  transition-duration: 0.4s;
}
.hover-color-neutral-2:hover {
  color: rgb(187, 154, 247);
}

.bg-neutral-3 {
  background-color: rgb(68, 67, 109);
}
.bg-neutral-3.translucent-10 {
  background-color: rgba(68, 67, 109, 0.1);
}
.bg-neutral-3.translucent-20 {
  background-color: rgba(68, 67, 109, 0.2);
}
.bg-neutral-3.translucent-30 {
  background-color: rgba(68, 67, 109, 0.3);
}
.bg-neutral-3.translucent-40 {
  background-color: rgba(68, 67, 109, 0.4);
}
.bg-neutral-3.translucent-50 {
  background-color: rgba(68, 67, 109, 0.5);
}
.bg-neutral-3.translucent-60 {
  background-color: rgba(68, 67, 109, 0.6);
}
.bg-neutral-3.translucent-70 {
  background-color: rgba(68, 67, 109, 0.7);
}
.bg-neutral-3.translucent-80 {
  background-color: rgba(68, 67, 109, 0.8);
}
.bg-neutral-3.translucent-90 {
  background-color: rgba(68, 67, 109, 0.9);
}
.bg-neutral-3.translucent-100 {
  background-color: #44436d;
}

.color-neutral-3 {
  color: rgb(68, 67, 109);
}

.border-neutral-3 {
  border-color: rgb(68, 67, 109);
}

.hover-color-neutral-3 {
  transition-duration: 0.4s;
}
.hover-color-neutral-3:hover {
  color: rgb(68, 67, 109);
}

.bg-dark-1 {
  background-color: rgb(43, 45, 66);
}
.bg-dark-1.translucent-10 {
  background-color: rgba(43, 45, 66, 0.1);
}
.bg-dark-1.translucent-20 {
  background-color: rgba(43, 45, 66, 0.2);
}
.bg-dark-1.translucent-30 {
  background-color: rgba(43, 45, 66, 0.3);
}
.bg-dark-1.translucent-40 {
  background-color: rgba(43, 45, 66, 0.4);
}
.bg-dark-1.translucent-50 {
  background-color: rgba(43, 45, 66, 0.5);
}
.bg-dark-1.translucent-60 {
  background-color: rgba(43, 45, 66, 0.6);
}
.bg-dark-1.translucent-70 {
  background-color: rgba(43, 45, 66, 0.7);
}
.bg-dark-1.translucent-80 {
  background-color: rgba(43, 45, 66, 0.8);
}
.bg-dark-1.translucent-90 {
  background-color: rgba(43, 45, 66, 0.9);
}
.bg-dark-1.translucent-100 {
  background-color: #2b2d42;
}

.color-dark-1 {
  color: rgb(43, 45, 66);
}

.border-dark-1 {
  border-color: rgb(43, 45, 66);
}

.hover-color-dark-1 {
  transition-duration: 0.4s;
}
.hover-color-dark-1:hover {
  color: rgb(43, 45, 66);
}

.bg-dark-2 {
  background-color: rgb(19, 7, 46);
}
.bg-dark-2.translucent-10 {
  background-color: rgba(19, 7, 46, 0.1);
}
.bg-dark-2.translucent-20 {
  background-color: rgba(19, 7, 46, 0.2);
}
.bg-dark-2.translucent-30 {
  background-color: rgba(19, 7, 46, 0.3);
}
.bg-dark-2.translucent-40 {
  background-color: rgba(19, 7, 46, 0.4);
}
.bg-dark-2.translucent-50 {
  background-color: rgba(19, 7, 46, 0.5);
}
.bg-dark-2.translucent-60 {
  background-color: rgba(19, 7, 46, 0.6);
}
.bg-dark-2.translucent-70 {
  background-color: rgba(19, 7, 46, 0.7);
}
.bg-dark-2.translucent-80 {
  background-color: rgba(19, 7, 46, 0.8);
}
.bg-dark-2.translucent-90 {
  background-color: rgba(19, 7, 46, 0.9);
}
.bg-dark-2.translucent-100 {
  background-color: #13072e;
}

.color-dark-2 {
  color: rgb(19, 7, 46);
}

.border-dark-2 {
  border-color: rgb(19, 7, 46);
}

.hover-color-dark-2 {
  transition-duration: 0.4s;
}
.hover-color-dark-2:hover {
  color: rgb(19, 7, 46);
}

.bg-dark-3 {
  background-color: rgb(0, 0, 0);
}
.bg-dark-3.translucent-10 {
  background-color: rgba(0, 0, 0, 0.1);
}
.bg-dark-3.translucent-20 {
  background-color: rgba(0, 0, 0, 0.2);
}
.bg-dark-3.translucent-30 {
  background-color: rgba(0, 0, 0, 0.3);
}
.bg-dark-3.translucent-40 {
  background-color: rgba(0, 0, 0, 0.4);
}
.bg-dark-3.translucent-50 {
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-dark-3.translucent-60 {
  background-color: rgba(0, 0, 0, 0.6);
}
.bg-dark-3.translucent-70 {
  background-color: rgba(0, 0, 0, 0.7);
}
.bg-dark-3.translucent-80 {
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-dark-3.translucent-90 {
  background-color: rgba(0, 0, 0, 0.9);
}
.bg-dark-3.translucent-100 {
  background-color: black;
}

.color-dark-3 {
  color: rgb(0, 0, 0);
}

.border-dark-3 {
  border-color: rgb(0, 0, 0);
}

.hover-color-dark-3 {
  transition-duration: 0.4s;
}
.hover-color-dark-3:hover {
  color: rgb(0, 0, 0);
}

.bg-dark-4 {
  background-color: rgb(68, 67, 109);
}
.bg-dark-4.translucent-10 {
  background-color: rgba(68, 67, 109, 0.1);
}
.bg-dark-4.translucent-20 {
  background-color: rgba(68, 67, 109, 0.2);
}
.bg-dark-4.translucent-30 {
  background-color: rgba(68, 67, 109, 0.3);
}
.bg-dark-4.translucent-40 {
  background-color: rgba(68, 67, 109, 0.4);
}
.bg-dark-4.translucent-50 {
  background-color: rgba(68, 67, 109, 0.5);
}
.bg-dark-4.translucent-60 {
  background-color: rgba(68, 67, 109, 0.6);
}
.bg-dark-4.translucent-70 {
  background-color: rgba(68, 67, 109, 0.7);
}
.bg-dark-4.translucent-80 {
  background-color: rgba(68, 67, 109, 0.8);
}
.bg-dark-4.translucent-90 {
  background-color: rgba(68, 67, 109, 0.9);
}
.bg-dark-4.translucent-100 {
  background-color: #44436d;
}

.color-dark-4 {
  color: rgb(68, 67, 109);
}

.border-dark-4 {
  border-color: rgb(68, 67, 109);
}

.hover-color-dark-4 {
  transition-duration: 0.4s;
}
.hover-color-dark-4:hover {
  color: rgb(68, 67, 109);
}

.bg-util-error {
  background-color: rgb(234, 67, 53);
}
.bg-util-error.translucent-10 {
  background-color: rgba(234, 67, 53, 0.1);
}
.bg-util-error.translucent-20 {
  background-color: rgba(234, 67, 53, 0.2);
}
.bg-util-error.translucent-30 {
  background-color: rgba(234, 67, 53, 0.3);
}
.bg-util-error.translucent-40 {
  background-color: rgba(234, 67, 53, 0.4);
}
.bg-util-error.translucent-50 {
  background-color: rgba(234, 67, 53, 0.5);
}
.bg-util-error.translucent-60 {
  background-color: rgba(234, 67, 53, 0.6);
}
.bg-util-error.translucent-70 {
  background-color: rgba(234, 67, 53, 0.7);
}
.bg-util-error.translucent-80 {
  background-color: rgba(234, 67, 53, 0.8);
}
.bg-util-error.translucent-90 {
  background-color: rgba(234, 67, 53, 0.9);
}
.bg-util-error.translucent-100 {
  background-color: #ea4335;
}

.color-util-error {
  color: rgb(234, 67, 53);
}

.border-util-error {
  border-color: rgb(234, 67, 53);
}

.hover-color-util-error {
  transition-duration: 0.4s;
}
.hover-color-util-error:hover {
  color: rgb(234, 67, 53);
}

.bg-util-alert {
  background-color: rgb(255, 165, 0);
}
.bg-util-alert.translucent-10 {
  background-color: rgba(255, 165, 0, 0.1);
}
.bg-util-alert.translucent-20 {
  background-color: rgba(255, 165, 0, 0.2);
}
.bg-util-alert.translucent-30 {
  background-color: rgba(255, 165, 0, 0.3);
}
.bg-util-alert.translucent-40 {
  background-color: rgba(255, 165, 0, 0.4);
}
.bg-util-alert.translucent-50 {
  background-color: rgba(255, 165, 0, 0.5);
}
.bg-util-alert.translucent-60 {
  background-color: rgba(255, 165, 0, 0.6);
}
.bg-util-alert.translucent-70 {
  background-color: rgba(255, 165, 0, 0.7);
}
.bg-util-alert.translucent-80 {
  background-color: rgba(255, 165, 0, 0.8);
}
.bg-util-alert.translucent-90 {
  background-color: rgba(255, 165, 0, 0.9);
}
.bg-util-alert.translucent-100 {
  background-color: orange;
}

.color-util-alert {
  color: rgb(255, 165, 0);
}

.border-util-alert {
  border-color: rgb(255, 165, 0);
}

.hover-color-util-alert {
  transition-duration: 0.4s;
}
.hover-color-util-alert:hover {
  color: rgb(255, 165, 0);
}

.bg-util-alert-subtle {
  background-color: rgb(199, 155, 26);
}
.bg-util-alert-subtle.translucent-10 {
  background-color: rgba(199, 155, 26, 0.1);
}
.bg-util-alert-subtle.translucent-20 {
  background-color: rgba(199, 155, 26, 0.2);
}
.bg-util-alert-subtle.translucent-30 {
  background-color: rgba(199, 155, 26, 0.3);
}
.bg-util-alert-subtle.translucent-40 {
  background-color: rgba(199, 155, 26, 0.4);
}
.bg-util-alert-subtle.translucent-50 {
  background-color: rgba(199, 155, 26, 0.5);
}
.bg-util-alert-subtle.translucent-60 {
  background-color: rgba(199, 155, 26, 0.6);
}
.bg-util-alert-subtle.translucent-70 {
  background-color: rgba(199, 155, 26, 0.7);
}
.bg-util-alert-subtle.translucent-80 {
  background-color: rgba(199, 155, 26, 0.8);
}
.bg-util-alert-subtle.translucent-90 {
  background-color: rgba(199, 155, 26, 0.9);
}
.bg-util-alert-subtle.translucent-100 {
  background-color: #c79b1a;
}

.color-util-alert-subtle {
  color: rgb(199, 155, 26);
}

.border-util-alert-subtle {
  border-color: rgb(199, 155, 26);
}

.hover-color-util-alert-subtle {
  transition-duration: 0.4s;
}
.hover-color-util-alert-subtle:hover {
  color: rgb(199, 155, 26);
}

.bg-util-notify {
  background-color: rgb(54, 163, 217);
}
.bg-util-notify.translucent-10 {
  background-color: rgba(54, 163, 217, 0.1);
}
.bg-util-notify.translucent-20 {
  background-color: rgba(54, 163, 217, 0.2);
}
.bg-util-notify.translucent-30 {
  background-color: rgba(54, 163, 217, 0.3);
}
.bg-util-notify.translucent-40 {
  background-color: rgba(54, 163, 217, 0.4);
}
.bg-util-notify.translucent-50 {
  background-color: rgba(54, 163, 217, 0.5);
}
.bg-util-notify.translucent-60 {
  background-color: rgba(54, 163, 217, 0.6);
}
.bg-util-notify.translucent-70 {
  background-color: rgba(54, 163, 217, 0.7);
}
.bg-util-notify.translucent-80 {
  background-color: rgba(54, 163, 217, 0.8);
}
.bg-util-notify.translucent-90 {
  background-color: rgba(54, 163, 217, 0.9);
}
.bg-util-notify.translucent-100 {
  background-color: #36a3d9;
}

.color-util-notify {
  color: rgb(54, 163, 217);
}

.border-util-notify {
  border-color: rgb(54, 163, 217);
}

.hover-color-util-notify {
  transition-duration: 0.4s;
}
.hover-color-util-notify:hover {
  color: rgb(54, 163, 217);
}

.bg-util-success {
  background-color: rgb(0, 191, 99);
}
.bg-util-success.translucent-10 {
  background-color: rgba(0, 191, 99, 0.1);
}
.bg-util-success.translucent-20 {
  background-color: rgba(0, 191, 99, 0.2);
}
.bg-util-success.translucent-30 {
  background-color: rgba(0, 191, 99, 0.3);
}
.bg-util-success.translucent-40 {
  background-color: rgba(0, 191, 99, 0.4);
}
.bg-util-success.translucent-50 {
  background-color: rgba(0, 191, 99, 0.5);
}
.bg-util-success.translucent-60 {
  background-color: rgba(0, 191, 99, 0.6);
}
.bg-util-success.translucent-70 {
  background-color: rgba(0, 191, 99, 0.7);
}
.bg-util-success.translucent-80 {
  background-color: rgba(0, 191, 99, 0.8);
}
.bg-util-success.translucent-90 {
  background-color: rgba(0, 191, 99, 0.9);
}
.bg-util-success.translucent-100 {
  background-color: #00bf63;
}

.color-util-success {
  color: rgb(0, 191, 99);
}

.border-util-success {
  border-color: rgb(0, 191, 99);
}

.hover-color-util-success {
  transition-duration: 0.4s;
}
.hover-color-util-success:hover {
  color: rgb(0, 191, 99);
}

/*# sourceMappingURL=colors.css.map */
